
    
 <ul class="nav nav-pills nav-stacked span3">
					  <li class="active"><a href="#exercise"  data-toggle="tab">Exercise</a></li>
					  <li><a href="#socialization" data-toggle="tab">Socialization</a></li>
					  <li><a href="#stress" data-toggle="tab">Stress</a></li>
</ul>

<div class="container span12">
    <div class="tab-content">
		  <div class="tab-pane fade in active" id="exercise">
			     <!-- Main hero unit for a primary marketing message or call to action -->
			     <div class="hero-unit">
			         <%= render "exercise"%>
			     </div>
			</div>
		  <div class="tab-pane fade in" id="socialization">
			       <!-- Main hero unit for a primary marketing message or call to action -->
			     <div class="hero-unit">
			         <%= render "socialization"%>
			     </div>
			   
			</div>
		  <div class="tab-pane fade in" id="stress">
			       <!-- Main hero unit for a primary marketing message or call to action -->
			     <div class="hero-unit">
			         <%= render "stress"%>
			     </div>
			</div>
		</div>  
 </div>

 