<div class="row">
<div class="span4">
<p> Hello There! </p>
</div>
<div class="span4"> 
	<p> Hello There Again! </p>   
</div>
<div class="span4"> 
	<p> Hello There Again! </p>   
</div>
</div>
<style>
.span4 {
    margin-left: 0;
    padding-left: 19px;
    border: 1px solid #eee;
    background-color: #CCFFFF;
}
</style>
 
