<div class="span12">
	<table class="table table-bordered">
		<tr>
			<th>Common Obstacles</th>
			<th>Solutions</th>
		</tr> 
		<tr>
			  <td> <p> I am not good at basketball </p> </td>
			  <td> <p> You don't need to be good to do something </p> </td>
		</tr>
		<tr> 
			   <td> <p> I don't have the time </p> </td>
			  <td> <p> Try incorporating leisure into daily lifestyle it will pay dividends in terms of your health</p> </td>
		 </tr>
	</table>
</div>