


<div class="navbar  navbar-fixed-top">
    <div class="navbar-inner">
     
      
        
          <ul class="nav nav-tabs" id="myTab">
					  <li class="active"><a  href="#benefits" data-toggle="tab">Benefits of Leisure</a></li>
					  <li><a href="#obstacles" data-toggle="tab">Common Obstacles and Solutions</a></li>
					  <li><a href="#goals" data-toggle="tab">Goal Setting</a></li>
					  <li><a href="#advertise" data-toggle="tab">Find People to do activity with</a></li>
					 <li><a href="#signup" data-toggle="tab">Sign up for activity</a></li>  
					</ul>

    </div>
  </div>


     <div class="tab-content">
	     <div class="tab-pane fade active in" id="benefits">
	     	<%= render "benefits"%>
	     </div>
		  <div class="tab-pane fade in" id="obstacles">
			  <%= render "obstacles"%>
			</div>
		  <div class="tab-pane fade in" id="goals">
		  	<%= render "goals"%>
		  </div>
		  <div class="tab-pane fade in" id="advertise"> <%= render "find_people"%></div> 
		  <div class="tab-pane fade in" id="signup"> How are you?</div>
		</div>
    
<!-- /container -->  


	<script>

	
	</script>

